/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ensure no horizontal overflow */
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* Basic styles */
body {
    
    margin: 0;
    padding: 0;
}






/* Pic Container */
#container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    
}

.heart-background2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    object-fit: cover;
}