body, html {
    height: 100%;
    margin: 0;
    
}

.bg-image {
    display: flex;
    flex-direction: column; /* Arrange children vertically */
    justify-content: center;
    align-items: center;
    padding: 20px; /* Adjust the padding as needed */
    background-image: url('images/pink-hearts.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.video-container {
    position: relative;
    width: 100%;
    right: 20%;
    top: 25%;
    max-width: 400px; /* Max width for larger screens */
    padding: 20px; /* Adjust the padding as needed */
    box-sizing: border-box;
    text-align: center; /* Center the video container */
}

.video-container video {
    width: 100%; /* Full width for responsiveness */
    height: auto;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow here */
}

.reminder {
    position: relative;
    left: 15%;
    bottom: 45%;
    padding: 20px;
}



h1, h2 {
    text-align: center; /* Center-align text */
    margin: 20px 0; /* Adjust margins */
}

h1 {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    color: rgb(66, 1, 10);
    font-size: 3.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

h2 {
    font-family: "Playwrite AU QLD", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(214, 21, 79);
    font-size: 2rem;
}



  
/* Media query for mobile responsiveness */
@media (max-width: 768px) {
    .bg-image {
        height: auto; /* Allow the background to adjust its height */
    }

    .video-container {
        max-width: 100%; /* Allow full width on smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
        margin-left: 42%;
    }

    .reminder {
        margin-top: 10px; /* Reduce spacing for smaller screens */
        margin-right: 30%;
    }

    h1 {
        font-size: 2.5rem; /* Adjust font size for smaller screens */
        
    }

    h2 {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
        
    }
}
    h2 {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
}
