body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.bg-image {
    display: flex;
    flex-direction: column; /* Arrange children vertically */
    justify-content: center;
    align-items: center;
    padding: 20px; /* Adjust the padding as needed */
    background-image: url('images/heart-background.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.video-container {
    width: 100%;
    max-width: 600px; /* Max width for larger screens */
    padding: 20px; /* Adjust the padding as needed */
    box-sizing: border-box;
    text-align: center; /* Center the video container */
}

.video-container video {
    width: 100%; /* Full width for responsiveness */
    height: auto;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow here */
}

h1, h2 {
    text-align: center; /* Center-align text */
    margin: 20px 0; /* Adjust margins */
}

h1 {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    color: rgb(66, 1, 10);
    font-size: 3.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

h2 {
    font-family: "Playwrite AU QLD", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(214, 21, 79);
    font-size: 2rem;
}

@media (max-width: 768px) {
    .video-container {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    h1 {
        font-size: 2rem; /* Adjust font size for smaller screens */
        margin: 20px 0 10px 0; /* Adjust margin for smaller screens */
    }

    h2 {
        font-size: 1rem; /* Adjust font size for smaller screens */
        margin: 10px 0 20px 0; /* Adjust margin for smaller screens */
    }
}
